.Button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: green;
  }

  &.primary {
    background-color: #0d0c22;
    color: #fff;

    &:hover {
      background-color: #44444a;
      color: #fff;
    }
  }

  &.secondary {
    background: #f3f3f4;
    color: #0d0c22;

    &:hover {
      background-color: #d3d3d4;
    }
  }

  &.ghost {
    background: transparent;
  }
}
