.Container {
  align-items: center;
  background: #fefeff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 1rem;
  width: 100%;

  & .Title {
    font-size: 4rem;
    line-height: 1.15;
    text-align: center;
  }

  & .Subtitle {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: center;
  }

  & .GroupsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 768px) {
    & .Title {
      font-size: 2rem;
    }

    & .Subtitle {
      font-size: 1.2rem;
    }
  }
}
