.GroupBox {
  border: 1px solid rgba(153 153 153 / 20%);
  box-shadow:
    0 1px 1px 0 rgb(0 0 0 / 14%),
    0 2px 1px -1px rgb(0 0 0 / 12%),
    0 1px 3px 0 rgb(0 0 0 / 20%);
  padding: 0;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

  & .Name {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
  }

  & .Navbar {
    align-items: center;
    background-color: #fbfafb;
    display: flex;
    padding: 10px;

    & .Columns {
      display: flex;
      margin-left: 150px;

      & .NavbarItem {
        font-weight: 700;
        text-align: center;
        width: 30px;
      }
    }
  }

  & .Countries {
    display: flex;
    flex-direction: column;

    & > :not(:last-child) {
      border-bottom: 1px solid rgb(153 153 153 / 20%);
    }
  }

  &:hover {
    box-shadow:
      0 3px 4px 0 rgb(0 0 0 / 14%),
      0 3px 3px -2px rgb(0 0 0 / 12%),
      0 1px 8px 0 rgb(0 0 0 / 20%);
  }
}
